{% extends 'video_chat/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="video_section col-md-8">
    <h3 class="video_title">{{video.title}}</h3>
    <video  class="col-md-12  well well-sm video" height="480" controls>
      <source src="{{ video.file.url }}" type="video/mp4"/>
    </video>
    <blockquote>
      <p style='word-wrap: break-word;'>{{ video.description }}</p>
      <a href="{% url 'profile' video.author.pk %}"><footer class="h4 text-muted pull-right">{{ video.author }}</footer></a>
    </blockquote>
  </div>
  <div class="chat_section col-md-4">
    {% include 'chat/chat.html' %}
  </div>
</div>
{% endblock content %}
