{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static "videos/style.css" %}" />
	<h3 class="tittle">Upload a video</h3>
    <form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		
        <li id="tittle" class="contact">Tittle {{ form.title }}</li>
        <li id="description" class="contact">Description {{ form.description }}</li>
         <li id="file" class="contact">File {{ form.file }}</li>
        <button type="submit" >Upload</button>
    </form>
    <a onclick="self.close()">
	<input type="button" value="Cancel, Close this window" onclick="self.close()">
{% endblock %}
