<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Video Chat </title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'video_chat/css/main.css' %}">
  {% block extra_stylesheet %} {% endblock %}

   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}">
          <img class="navbar-icon" alt="goat-cartoon" src="{% static 'video_chat/img/goat-cartoon.png' %}">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" action="{% url 'redirect_search' %}" method="get">
          <div class="form-group">
            <div class="radio">              
              <label class="navbar-text"><input type="radio" name="search" value="usuarios" required/>Usuarios</label>
              <label class="navbar-text"><input type="radio" name="search" value="videos"/>Videos</label>
            </div>
            <input type="text" name="search_key" placeholder="Busqueda.." required/>
          </div>
          <button type="submit" class="btn btn-default">Buscar</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'profile' user.id %}">Mi Perfil</a></li>
              <li><a href="{% url 'videos:upload' %}">Subir video</a></li>
              <li><a href="#">Configuración</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</head>

<body>
{% block body %}
  <div class="content container">
    {% block content %}
    {% endblock content %}
  </div>
  {% endblock body %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block extra_script %} {% endblock extra_script %}
</body>
</html>
