{% load staticfiles %}
    <html>
        <head>
            <title>Video Chat</title>
        </head>
        <body>
            <div class="page-header">
                <h1><a href="/">Video Chat</a></h1>
            </div>
			<form class="buscador" action="/video/search/" method="get">
				<input type="text" name="search_key"/>
				<button class="submit" type="submit">Buscar</button>
			<form/>
            <div class="content container">
		        {% block content %}
            	{% endblock %}
                <li>
                    <a href="{% url 'upload' %}">Upload </a>
                </li>
            </div>
        </body>
    </html>
